@import url("pygment_highlights.css");

/* --- General --- */

body#whitepaper {
  position: relative;
  color: #4E4E4E;

  font-family: 'Lora', 'Times New Roman', serif;
  /*font-family: "adelle-1", "adelle-2";*/
  font-size: 18px;
}
#whitepaper {
  background: #EEE url("../img/whitepaper.gif") !important;
}
#redpaper {
  background: #CC675B url("../img/redpaper.gif") !important;
}
p {
  margin: 30px 0;

  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
/* -- Settings links everywhere -- */
a {
  color: #CC675B;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #B8C4B9;
}
.navbar-custom .nav li a {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  color: #404040;
  font-weight: 800;
}


blockquote {
  color: #808080;

  font-style: italic;
}
blockquote p:first-child {
  margin-top: 0;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;

  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 130px;
  }

}

.main-explain-area {
  padding: 15px inherit;

  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hideme {
  display: none;
}

/*::-moz-selection {
 color: white;
 background: #0085a1;
 text-shadow: none;
}
::selection {
 color: white;
 background: #0085a1;
 text-shadow: none;
}*/
::-moz-selection {
  color: #fff;
  color: rgba(255, 255, 255, .85);
  background: #CC675B;
}

::selection {
  color: #fff;
  color: rgba(255, 255, 255, .85);
  background: #CC675B;
}
/*img::selection {
 color: white;
 background: transparent;
}
img::-moz-selection {
 color: white;
 background: transparent;
}*/

img {
  max-width: 100%;
}

.disqus-comments {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .disqus-comments {
    margin-top: 40px;
  }
}

textarea {
  margin: 10px 0px;
}

.fadelink {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition-delay: initial;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: all;
}

/* --- Navbar --- */

.navbar-custom {
  border-bottom: 1px solid #EAEAEA;
  background: #F5F5F5;

  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Make the the nav button white*/
nav.navbar-default .navbar-header .navbar-toggle {
  border-color: transparent;
}
nav.navbar-default .navbar-header .navbar-toggle .icon-bar{
  background-color: #4E4E4E;
}
nav.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-custom .navbar-brand-logo {
  padding-top: 0;

  -webkit-transition: padding .5s ease-in-out;
  -moz-transition: padding .5s ease-in-out;
  transition: padding .5s ease-in-out;
}
.navbar-custom .navbar-brand-logo img {
  height: 50px;

  -webkit-transition: height .5s ease-in-out;
  -moz-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}
.navbar-custom.top-nav-short .navbar-brand-logo {
  padding-top: 5px;
}
.navbar-custom.top-nav-short .navbar-brand-logo img {
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;

    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.navbar-custom .avatar-container {
  position: absolute;
  left: 50%;

  width: 50px;
  margin-top: -25px;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;

  opacity: 1;
}
.navbar-custom .avatar-container  .avatar-img-border {
  display: inline-block;

  width: 100%;
  margin-left: -50%;

  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container  .avatar-img {
  display: block;

  width: 100%;

  border-radius: 50%;
}

.navbar-custom.top-nav-short .avatar-container{
  opacity: 0;
}

.navbar-custom.top-nav-expanded .avatar-container  {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar-custom .avatar-container {
    width: 100px;
    margin-top: -50px;
  }

  .navbar-custom .avatar-container  .avatar-img-border {
    width: 100%;

    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  }

  .navbar-custom .avatar-container  .avatar-img {
    width: 100%;
  }
}

/* Multi-level navigation links */
.navbar-custom .nav .navlinks-container {
  position: relative;
}
.navbar-custom .nav .navlinks-parent:after {
  content: " \25BC";
}
.navbar-custom .nav .navlinks-children {
  display: none;

  width: 100%;

  word-break: break-word;
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
  display: block;

  padding: 10px;
  padding-left: 30px;

  text-decoration: none !important;

  border-width: 0 1px 1px 1px;
  background: #f5f5f5;

  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .navbar-custom .nav .navlinks-container.show-children {
    background: #eee;
    /* todo change this to sitewide background color*/
  }
  .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a:hover {
    color: #DE5A51;
  }
  .navbar-custom .nav .navlinks-container.show-children a:hover {
    color: #DE5A51;
  }

}
@media only screen and (min-width: 768px) {
  .navbar-custom .nav .navlinks-container {
    text-align: center;
  }
  .navbar-custom .nav .navlinks-container:hover {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-children {
    position: absolute;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;

    border: 1px solid #eaeaea;
    border-width: 0 1px 1px;
  }
  /* Custom */
  .navbar-custom .nav .navlinks-container a:hover {
    color: #DE5A51;
  }
}

/* --- Footer --- */

footer {
  margin-top: 50px;
  padding: 30px 0;

  border-top: 1px #EAEAEA solid;
  background: #F5F5F5;

  font-size: 14px;
}

footer a {
  color: #9b4e46;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  margin-bottom: 0;

  text-align: center;

  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
footer .theme-by {
  margin: 10px 0 0;

  text-align: center;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
  }
  footer .footer-links {
    font-size: 18px;
  }
  footer .copyright {
    font-size: 16px;
  }
}
.text-muted {
    color: #9b4e46;
}

/* --- Post preview --- */

.post-preview {
  padding: 20px 0;

  border-bottom: 1px solid #eee;
}

@media only screen and (min-width: 768px) {
  .post-preview {
    padding: 35px 0;
  }
}

.post-preview:last-child {
  border-bottom: 0;
}

.post-preview a {
  text-decoration: none;

  color: #404040;
}

.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
  color: #DE5A51;
}

.post-preview .post-title {
  margin-top: 0;

  font-size: 30px;
}
.post-preview .post-subtitle {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 300;
}
.post-preview .post-meta,
.post-heading .post-meta {
  margin: 0 0 10px;

  color: #808080;

  font-size: 18px;
  font-style: italic;
}
.post-preview .post-entry {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.post-entry-container {
  display: inline-block;

  width: 100%;
}
.post-entry {
  width: 100%;
}
.post-image {
  float: right;

  width: 192px;
  height: 192px;
  margin-top: -35px;

  // filter: grayscale(90%);
}
.post-image:hover {
  // filter: grayscale(0%);
}
.post-image img {
  width: 192px;
  height: 192px;

  border-radius: 100px;
}
.post-preview .post-read-more {
  font-weight: 800;
}

@media only screen and (min-width: 768px) {
  .post-preview .post-title {
    font-size: 36px;
  }
}

/* --- Tags --- */

.blog-tags {
  margin-bottom: 30px;

  color: #999;

  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.blog-tags a {
  padding: 0px 5px;

  text-decoration: none;

  color: #008AFF;
}

.blog-tags a:hover {
  text-decoration: none;
  /*color: #008AFF;*/

  color: #DE5A51;
  border-radius: 2px;
  background-color: #CCC;
}

.post-preview .blog-tags {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-preview .blog-tags {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .post-image, .post-image img {
    width: 100px;
    height: 100px;
  }

  .post-image {
    float: left;

    width: 100%;
    margin-top: 0;

    text-align: center;
  }
}
/* --- Post and page headers --- */

.intro-header {
  position: relative;

  margin: 80px 0 20px;
}
.intro-header.big-img {
  margin-top: 51px; /* The small navbar is 50px tall + 1px border */
  margin-bottom: 35px;

  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro-header.big-img  .big-img-transition {
  position: absolute;

  width: 100%;
  height: 100%;

  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;

  opacity: 0;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro-header .page-heading {
  text-align: center;
}
.intro-header.big-img .page-heading,
.intro-header.big-img .post-heading {
  padding: 100px 0;

  color: #FFF;
  text-shadow: 1px 1px 3px #000;
}
.intro-header .page-heading h1 {
  margin-top: 0;

  font-size: 50px;
}
.intro-header .post-heading h1 {
  margin-top: 0;

  font-size: 35px;
}
.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading {
  display: block;

  margin: 10px 0 0;

  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 1.1;
}
.intro-header .post-heading .post-subheading {
  margin-bottom: 20px;
}
.intro-header.big-img .page-heading .page-subheading,
.intro-header.big-img .post-heading .post-subheading {
  font-weight: 400;
}
.intro-header.big-img .page-heading hr {
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.intro-header.big-img .post-heading .post-meta {
  color: #EEE;
}
.intro-header.big-img .img-desc {
  position: absolute;
  right: 0;
  bottom: 0;

  display: none;

  padding: 5px 10px;

  color: #EEE;
  background: rgba(30, 30, 30, 0.6);

  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
}
@media only screen and (min-width: 768px) {
  .intro-header {
    margin-top: 130px;
  }
  .intro-header.big-img {
    margin-top: 91px;  /* Full navbar is small navbar + 20px padding on each side when expanded */
  }
  .intro-header.big-img .page-heading,
  .intro-header.big-img .post-heading  {
    padding: 150px 0;
  }
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
  .intro-header .post-heading h1 {
    font-size: 50px;
  }
  .intro-header.big-img .img-desc {
    font-size: 14px;
  }
}

.header-section.has-img .no-img {
  margin: 0 0 40px;
  margin-top: 0;
  padding: 20px 0;

  background: #FCFCFC;
  box-shadow: 0 0 5px #AAA;
}
/* Many phones are 320 or 360px, so make sure images are a proper aspect ratio in those cases */
.header-section.has-img .intro-header.no-img {
  display: none;
}
@media only screen and (max-width: 365px) {
  .header-section.has-img .intro-header.no-img {
    display: block;
  }
  .intro-header.big-img {
    width: 100%;
    height: 220px;
  }
  .intro-header.big-img .page-heading,
  .intro-header.big-img .post-heading {
    display: none;
  }
  .header-section.has-img .big-img {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 325px) {
  .intro-header.big-img {
    height: 200px;
  }
}

.caption {
  display: block;

  margin: 0;
  padding: 10px;

  text-align: center;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  font-size: 14px;
  font-style: italic;
}

/* --- Pager --- */

.pager li a {
  padding: 10px 5px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #404040;
  border-radius: 0;
  background: #FFF;

  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  .pager li a {
    padding: 15px 25px;
  }
}
.pager li a:hover,
.pager li a:focus {
  text-decoration: none;

  color: #FFF;
  /*background: #0085a1;*/
  color: #DE5A51;
  border: 1px solid #0085a1;
}

.pager {
  margin: 10px 0 0;
}

.pager.blog-pager {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .pager.blog-pager  {
    margin-top: 10px;
  }
}

/* --- Tables --- */

table {
  padding: 0;
}
table tr {
  margin: 0;
  padding: 0;

  border-top: 1px solid #cccccc;
  background-color: #ffffff;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr th {
  margin: 0;
  padding: 6px 13px;

  text-align: left;

  border: 1px solid #cccccc;

  font-weight: bold;
}
table tr td {
  margin: 0;
  padding: 6px 13px;

  text-align: left;

  border: 1px solid #cccccc;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

/* --- Code blocks --- */

pre {
  font-size: 16px;
  line-height: 1.5em;
}
pre code {
  white-space: pre;
}
pre.highlight, .highlight > pre, td.code pre {
  border-left: 7px solid #444;
  background: #FAFAFA;
  background-image: linear-gradient(#F9F9F9 50%, #FDFDFD 50%);
  background-repeat: repeat;
  background-position: 0px 10px;
  background-size: 3em 3em;
}
code table, code table td, code table th, code table tbody, code table tr,
td.gutter pre {
  padding: 0;

  border: none;
  background-color: #fff;
}
.highlight > pre {
  padding: 0;
}
td.code pre {
  border-width: 0 0 0 2px;
  border-style: solid;
  border-color: #444;
  border-radius: 0;
}
td.gutter {
  padding-top: 3px;
}

/* --- Social media sharing section --- */

#social-share-section {
  margin-bottom: 30px;
}
