  <div class="row">
    {% for i in include.image-set %}
        <!-- {% if i.link %}
          {% capture linkurl %}{{i.link | prepend: site.baseurl | replace: '//', '/'}}{% endcapture %}
        {% else %}
          {% capture linkurl %}{{i.ext-link}}{% endcapture %}
        {% endif %} -->

        <!-- <h1>{{ linkurl}}</h1>
        <h2>{{i.link}} link</h2>
        <h2>{{i.ext-link}} ext-link</h2> -->
        <h1>{{ include.class }}</h1>
      <div class="{{ include.class }}">
        <div class="center-block d-block">
          <a href="{{ i.link }}">
            <img src="{{ i.link }}" class="img-responsive img-rounded center-block" alt="{{ i.alt }}">
          </a>
          {% if i.caption %}
          <div class="text-center"><em>{{ i.caption }}</em></div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
