{% capture before %}{{ include.link | split: "://" | first }}{% endcapture %}
{% capture after %}{{ include.link | split: "://" | last }}{% endcapture %}
{% assign internal = true %}
{% if before != after %}
  {% if before == "http" or before == "https" %}
    {% assign internal = false %}
  {% endif %}
{% endif %}

{% if internal %}
  {% capture linkurl %}{{ site.baseurl }}/{{ include.link }}{% endcapture %}
{% else %}
  {% capture linkurl %}{{ include.link }}{% endcapture %}
{% endif %}

     <!-- <h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1> -->

  <!-- <div class="row text-center text-lg-left">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div> -->
  <!-- <a href="{{ linkurl }}">{{ include.link[0] }}</a> -->
  <div class="{{ include.class }}">
    <div class="center-block d-block">
      <a href="{{ include.link | prepend: site.baseurl | replace: '//', '/' }}">
        <img src="{{ include.link }}" class="img-responsive img-rounded center-block" alt="{{ include.alt }}">
      </a>
      <div class="text-center"><em>{{ include.caption }}</em></div>
    </div>
  </div>
