/*@import url("pygment_highlights.css");*/

/*
@import "normalize";
@import "fonts";

@import "mixins";
@import "base";
@import "type";
@import "article";
@import "header";
@import "footer";
@import "video";

@import "todo"; //junk file for later placement
*/
/* --- General --- */
/* --- Post and page headers --- */


body#whitepaper {
  position: relative;
  color: #4E4E4E;

  font-family: 'Lora', 'Times New Roman', serif;
  /*font-family: "adelle-1", "adelle-2";*/
  font-size: 18px;
}
#whitepaper {
  background: #EEE url("../img/whitepaper.png") !important;
}
#redpaper {
  background: #CC675B url("../img/redpaper.png") !important;
}
p {
  margin: 30px 0;

  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
/* -- Settings links everywhere -- */
a {
  color: #CC675B;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #B8C4B9;
}
.navbar-custom .nav li a {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  color: #404040;
  font-weight: 800;
}


blockquote {
  color: #808080;

  font-style: italic;
}
blockquote p:first-child {
  margin-top: 0;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;

  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 130px;
  }

}

.main-explain-area {
  padding: 15px inherit;

  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.hideme {
  display: none;
}

/*::-moz-selection {
 color: white;
 background: #0085a1;
 text-shadow: none;
}
::selection {
 color: white;
 background: #0085a1;
 text-shadow: none;
}*/
::-moz-selection {
  color: #fff;
  color: rgba(255, 255, 255, .85);
  background: #CC675B;
}

::selection {
  color: #fff;
  color: rgba(255, 255, 255, .85);
  background: #CC675B;
}
/*img::selection {
 color: white;
 background: transparent;
}
img::-moz-selection {
 color: white;
 background: transparent;
}*/

img {
  max-width: 100%;
}


.disqus-comments {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .disqus-comments {
    margin-top: 40px;
  }
}

textarea {
  margin: 10px 0px;
}

.fadelink {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transition-delay: initial;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-property: all;
}



/* --- Navbar --- */
/* --- Footer --- */
/* --- Post preview --- */
/* --- Tags --- */
/* --- Post and page headers --- */
/* --- Pager --- */
/* --- Tables --- */
/* --- Code blocks --- */
@import "navbar";
@import "highlight-styles";
@import "multilevel-nav";
@import "footer";
@import "post-preview";
@import "tags";
@import "post-page-headers";
@import "pager";
@import "tables";
@import "code-blocks";
@import "bootstrap-rewrite";

/* --- Social media sharing section --- */

#social-share-section {
  margin-bottom: 30px;
}
