
.blog-tags {
  margin-bottom: 30px;

  color: #999;

  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.blog-tags a {
  padding: 0px 5px;

  text-decoration: none;

  color: #008AFF;
}

.blog-tags a:hover {
  text-decoration: none;
  /*color: #008AFF;*/

  color: #DE5A51;
  border-radius: 2px;
  background-color: #CCC;
}

.post-preview .blog-tags {
  margin-top: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-preview .blog-tags {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .post-image, .post-image img {
    width: 100px;
    height: 100px;
  }

  .post-image {
    float: left;

    width: 100%;
    margin-top: 0;

    text-align: center;
  }
}
